<p>
  Dalviroo Kitchen 
</p>
<div> Task To be done </div>

<div>
  Dalviroo is hypothetical  an on-demand food delivery company and our operations revolve around that single concept.
   Our Stores receive a daily prediction of sales numbers, which in turn help us pre-prep the food before usual rush. 
   And help us decide how much of each raw material needs to be in ready state.
   We want to display these numbers in a simple report that is accessible via browser but that can also be displayed on a large screen in the kitchen.
   For every order that is created, workers on kitchen display mark it as “done” which automatically increase “created-till-now” column for that product</div>