<div>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a class='navbar-brand'>kitchen Management</a>
      <ul class='nav navbar-nav'>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/kitchenDisplay']">kitchen Display </a>
        </li>
        <li>
          <a [routerLink]="['/addProduct']">Add Product & update</a>
        </li>
        <li>
            <a [routerLink]="['/reportgenrator']">Report Genrator </a>
          </li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>